:root {
  /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
  --primary: #244855;
  --primaryLight: #E64833;
  --secondary: #874F41;
  --secondaryLight: #008f95;
  --headerColor: #efa658;
  --bodyTextColor: #4e4b66;
  --bodyTextColorWhite: #FBE9D0;
  --backgroundcolor: #b93717;
  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

body {
  
    font-family: "Bangers", system-ui;
   
  
  
  
  margin: 0;
  padding: 0;
  background-color: var(--backgroundColor);
  

}

*, *:before, *:after {
  /* prevents padding from affecting height and width */
  box-sizing: border-box;
}


.cs-topper {
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: .1em;
  font-weight: 700;
  color: var(--secondaryLight);
  margin-bottom: 0.25rem;
  display: block;
}

.cs-title {
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  max-width: 43.75rem;
  margin: 0 0 1rem 0;
  color: var(--headerColor);
  position: relative;
}

.cs-text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--bodyTextColor);
}
                          


/* navigation bar */


/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/


/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-navigation .cs-li-link.cs-drop-link.red:hover {
    color: red;
  }
  
  #cs-navigation .cs-li-link.cs-drop-link.green:hover {
    color: green;
  }
  
  #cs-navigation .cs-li-link.cs-drop-link.blue:hover {
    color: rgb(0, 195, 255);
  }
  
  #cs-navigation .cs-li-link.cs-drop-link.yellow:hover {
    color: rgb(223, 159, 50);
  }
  
  
  #cs-navigation .cs-dropdown {
    position: relative;
  }
  #cs-navigation .cs-dropdown:hover {
    cursor: pointer;
  }
  #cs-navigation .cs-dropdown:hover .cs-drop-ul {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }
  #cs-navigation .cs-dropdown:hover .cs-drop-li {
    opacity: 1;
    transform: translateY(0);
  }
  #cs-navigation .cs-drop-icon {
    width: 0.75rem;
    height: auto;
    margin-left: 0.25rem;
    display: inline-block;
  }
  #cs-navigation .cs-drop-ul {
    min-width: 12.5rem;
    margin: 0;
    padding: 0;
    background-color:  var(--primaryLight);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
    border-bottom: 5px solid var(--primary);
    /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
    position: absolute;
    top: 100%;
    z-index: -100;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .3s, visibility .3s, opacity .3s;
    text-align: center;
  }
  #cs-navigation .cs-drop-li {
    list-style: none;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    opacity: 0;
    margin-bottom: 0.5rem;
    width: 100%;
    height: auto;
    display: block;
    transform: translateY(-0.625rem);
    transition: opacity .6s, transform .6s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(1) {
    transition-delay: .05s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(2) {
    transition-delay: .1s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(3) {
    transition-delay: .15s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(4) {
    transition-delay: .2s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(5) {
    transition-delay: .25s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(6) {
    transition-delay: .3s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(7) {
    transition-delay: .35s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(8) {
    transition-delay: .4s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(9) {
    transition-delay: .45s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(10) {
    transition-delay: .5s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(11) {
    transition-delay: .55s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(12) {
    transition-delay: .6s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(13) {
    transition-delay: .65s;
  }
  #cs-navigation .cs-li-link.cs-drop-link {
    font-size: 1rem;
    white-space: nowrap;
    line-height: 1.5em;
    text-decoration: none;
    width: 100%;
    padding: 0.75rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    color: var(--bodyTextColorWhite);
    display: block;
    transition: color 0.3s, background-color 0.3s;
  }
  #cs-navigation .cs-li-link.cs-drop-link:hover {
    color: var(--primary);
    background-color: var(--bodyTextColorWhite);
  }
  #cs-navigation .cs-li-link.cs-drop-link:before {
    display: none;
  }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 0rem) {
  body.scroll #cs-navigation {
    /* 53px, the ssme height as the cs-top-container */
    transform: translateY(-3.3125rem);
  }
  
  
  #cs-navigation {
    width: 100%;
    padding: 0;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: var(--primaryLight);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 10000;
    transition: transform .3s;
  }
  #cs-navigation .cs-top-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cs-navigation .cs-top-container {
    width: 100%;
    max-width: 80rem;
    padding: 1rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.125rem;
    position: relative;
    z-index: 1;
  }
  /* Laptop - 1024px and up */
@media only screen and (min-width: 64rem) {
  #cs-navigation .cs-top-container {
      width: 100%;
      padding: 1rem 1.5rem;
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      background-color: var(--primary);
      display: flex;
      justify-content: center; /* Center the content horizontally */
      align-items: center;
      gap: 1rem;
      position: relative; /* Ensure the ::before element is positioned correctly */
  }

  #cs-navigation .cs-top-container:before {
      /* grey background */
      content: '';
      width: 100vw;
      height: 100%;
      background: var(--primary) ; 
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      z-index: -1;
      transform: translateX(-50%);
  }

  #cs-navigation .cs-top-contact {
      width: auto;
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      display: flex;
      justify-content: center; /* Center the text within the container */
      align-items: center;
      gap: 1.5rem;
      text-align: center; /* Ensure text is centered within the div */
      font-size: 1rem; /* Example font size */
      color: var(--bodyTextColorWhite); /* Example text color */
  }
}
  #cs-navigation .cs-top-link {
    font-size: 0.875rem;
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    position: relative;
  }
  #cs-navigation .cs-top-link:hover {
    text-decoration: underline;
  }
  #cs-navigation .cs-link-icon {
    width: 1rem;
    height: auto;
    display: block;
  }
  #cs-navigation .cs-top-social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }
  #cs-navigation .cs-social-link {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: transform .3s;
  }
  #cs-navigation .cs-social-link:hover {
    transform: scale(1.1);
  }
  #cs-navigation .cs-social-icon {
    width: 1.25rem;
    height: auto;
    display: block;
  }
  #cs-navigation .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    padding: 0 1rem;
    /* prevents padding from affectin gheight */
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    position: relative;
  }
  #cs-navigation .cs-toggle {
    display: none;
  }
  #cs-navigation .cs-logo {
    /* 40px - 44px */
    height: clamp(2.5rem, 4vw, 2.75rem);
    /* margin-right auto pushes everything away from it to the right */
    margin: 0 auto 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  #cs-navigation .cs-logo img {
    width: auto;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
  }
  #cs-navigation .cs-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }
  #cs-navigation .cs-li {
    list-style: none;
    padding: 1.9375rem 0;
    /* prevent flexbox from squishing it */
    flex: none;
  }
  #cs-navigation .cs-li-link {
    /* 14px - 16px */
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--headerColor);
    display: block;
    position: relative;
    transition: color .3s;
  }
  #cs-navigation .cs-li-link:hover {
    color: var(--primary);
  }
  #cs-navigation .cs-li-link.cs-active {
    font-weight: 700;
    color: var(--headerColor);
  }
  #cs-navigation .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: var(--bodyTextColorWhite);
    padding: 0 2rem;
    background-color: var(--primary);
    overflow: hidden;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color .3s;
  }
  #cs-navigation .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: var(--headerColor);
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .3s;
  }
  #cs-navigation .cs-button-solid:hover:before {
    width: 100%;
  }
  #cs-navigation .cs-nav-button {
    line-height: 2.875rem;
    margin-left: 1.5rem;
  }
}
    

/*main content */
@media only screen and (min-width: 0rem) {
  #hero-1785 {
    /* 200px - 300px - leaving extra space for the navigation */
    padding: clamp(12.5rem, 25.95vw, 18.75em) 1rem;
    /* prevents the topper line from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-1785 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
  }
  #hero-1785 .cs-content {
    text-align: center;
    width: 100%;
    max-width: 46.875rem;
  }
  #hero-1785 .cs-title {
    /* 49px - 84px */
    font-size: clamp(3.0625rem, 6vw, 5.25rem);
  }
  #hero-1785 .cs-title,
  #hero-1785 .cs-text {
    color: var(--headerColor);
    justify-content: center;
  }
  #hero-1785 .cs-text {
    margin-bottom: 2rem;
  }
  #hero-1785 .cs-button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  #hero-1785 .cs-button-solid {
    font-size: 1.5rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 12.5rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #hero-1785 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: var(--primaryLight);
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-1785 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-1785 .cs-graphic {
    width: 100%;
    min-width: 120rem;
    height: auto;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 0;
    transform: translateX(-50%);
  }
  #hero-1785 .cs-graphic-dark {
    display: none;
  }
  #hero-1785 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-1785 .cs-background:before {
    /* Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #0d0d0dae;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
    opacity: 0.7;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #hero-1785 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}


  /* Large Desktop - 1920px */
  @media only screen and (min-width: 120rem) {
    #hero-1785 {
      /* this ties the padding bottom value to the size of the screen width. The wider the image gets the taller it gets, meaning it will get clsoer and closer to the content. This makes the padding bottom value grow with the screen size so it accounts for the growing height of the svg graphic getting taller */
      padding-bottom: 14vw;
    }
  }
      
  
  /* promotion*/
/*  - 360px */
@media only screen and (min-width: 0rem) {
  #promotions-1567 {
    padding: var(--sectionPadding);
    background-color: #FBE9D0;
  }
  #promotions-1567 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #promotions-1567 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #promotions-1567 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16.25rem, 1fr));
    /* 16px - 20px */
    gap: clamp(1rem, 2.4vw, 1.25rem);
  }
  #promotions-1567 .cs-item {
    list-style: none;
    min-height: 16rem;
    /* 40px - 100px */
    padding: clamp(2.5rem, 7vw, 6.25rem) 1rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #promotions-1567 .cs-item:hover .cs-background img {
    transform: scale(1.2);
  }
  #promotions-1567 .cs-tag {
    font-size: 1.5rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.25rem 0;
    color: var(--primaryLight);
    display: block;
  }
  #promotions-1567 .cs-h2 {
    font-size: clamp(1.9375rem, 4vw, 2.4375rem);
    line-height: 1.5em;
    font-weight: 700;
    margin: 0 0 1.5rem 0;
    color: var(--primaryLight);
    display: block;
  }
  #promotions-1567 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 3rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color .3s;
  }
  #promotions-1567 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: var(--primaryLight);
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .3s;
  }
  #promotions-1567 .cs-button-solid:hover {
    color: var(--headerColor);
  }
  #promotions-1567 .cs-button-solid:hover:before {
    width: 100%;
  }
  #promotions-1567 .cs-background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #promotions-1567 .cs-background:before {
    /* background color overlay */
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .4;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #promotions-1567 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    transition: transform .6s;
  }
}
  

/* featured products*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #collection-1595 {
    padding: var(--sectionPadding);
    background-color: var(--bodyTextColorWhite);
  }
  #collection-1595 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #collection-1595 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 31.25rem;
    /* pushes it to the left */
    margin-right: auto;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #collection-1595 .cs-tag {
    font-size: 0.8125rem;
    line-height: 1.5rem;
    font-weight: 700;
    letter-spacing: .1em;
    margin: 0 0 1rem 0;
    padding: 0 0.5rem;
    color: var(--bodyTextColorWhite);
    background-color: var(--secondary);
    display: block;
  }
  #collection-1595 .cs-text {
    margin-bottom: 1rem;
  }
  #collection-1595 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #collection-1595 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #collection-1595 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: var(--primaryLight);
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .3s;
  }
  #collection-1595 .cs-button-solid:hover:before {
    width: 100%;
  }
  #collection-1595 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 16px - 20px */
    column-gap: clamp(1rem, 3vw, 1.25rem);
    /* 16px - 40px */
    row-gap: clamp(1rem, 3vw, 2.5rem);
  }
  #collection-1595 .cs-item {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #collection-1595 .cs-item:hover .cs-picture {
    background-color: rgba(0, 0, 0, 0.1);
  }
  #collection-1595 .cs-item:hover .cs-picture img {
    transform: scale(1.05);
  }
  #collection-1595 .cs-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #collection-1595 .cs-picture {
    width: 100%;
    height: 100vw;
    min-height: 21.25rem;
    max-height: 25rem;
    /* 12px - 20px */
    margin: 0 0 clamp(0.75rem, 2vw, 1.25rem);
    background-color: #e8e8e8;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s;
  }
  #collection-1595 .cs-picture img {
    width: 100%;
    max-width: 15.625rem;
    height: auto;
    max-height: 80%;
    object-fit: contain;
    transition: transform .3s;
  }

  .transparent-background {
    background-color: transparent !important;
}




  #collection-1595 .cs-product-name {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.25rem 0;
    color: var(--headerColor);
  }
  #collection-1595 .cs-price {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--primary);
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #collection-1595 .cs-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #collection-1595 .cs-card-group {
    width: 56%;
    flex-direction: row;
    align-items: stretch;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #collection-1595 .cs-item:last-of-type .cs-picture {
    /* 160px - 320px */
    height: clamp(10rem, 26vw, 20rem);
    min-height: 10rem;
  }
  #collection-1595 .cs-item:last-of-type .cs-picture img {
    width: 80%;
  }
  #collection-1595 .cs-link {
    height: 100%;
    justify-content: center;
  }
  #collection-1595 .cs-picture {
    /* 400px - 520px */
    height: clamp(25rem, 50vw, 32.5rem);
    min-height: auto;
    max-height: 100%;
  }
}
                                

/* reviews*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-1672 {
    padding: var(--sectionPadding);
    background-color: var(--bodyTextColorWhite);
  }
  #reviews-1672 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 40px - 64px */
    gap: clamp(2.5rem, 4.5vw, 4rem);
  }
  #reviews-1672 .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #reviews-1672 .cs-title {
    margin: 0rem;
  }
  #reviews-1672 .cs-card-group {
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #reviews-1672 .cs-item {
    list-style: none;
    width: 100%;
    /* 20px - 40px top & bottom */
    /* 20px - 40px left & right */
    padding: clamp(1.25rem, 3.15vw, 2.5rem) clamp(1.25rem, 3.15vw, 2.5rem);
    background-color: #e8e8e8;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    display: flex;
    grid-column: span 12;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    /* 24px - 48px */
    gap: clamp(1.5rem, 4vw, 3rem);
  }
  #reviews-1672 .cs-flex-group {
    /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
    margin-top: auto;
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #reviews-1672 .cs-profile {
    width: 3.25rem;
    height: auto;
    border-radius: 50%;
    position: relative;
    display: block;
  }
  #reviews-1672 .cs-profile img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes the image behave like a background image */
    object-fit: cover;
  }
  #reviews-1672 .cs-name {
    /* 20px - 25px */
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
    margin-top: auto;
    color: var(--headerColor);
    display: block;
  }
  #reviews-1672 .cs-job {
    /* 14px - 16px */
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #reviews-1672 .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #reviews-1672 .cs-item-stars {
    width: 6.75rem;
    height: auto;
  }
  #reviews-1672 .cs-review {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1.25rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    z-index: 1;
  }
  #reviews-1672 .cs-quote {
    width: 5.375rem;
    height: auto;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    z-index: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-1672 .cs-item {
    grid-column: span 4;
  }
}
                          

/* subscirbe */
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-1394 {
      /* 60px - 124px top and bottom */
      padding: clamp(3.75rem, 7.82vw, 7.75rem) 1rem;
      background-color: #1a1a1a;
      position: relative;
      overflow: hidden;
      z-index: 1;
  }
  #cta-1394 .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
      position: relative;
      z-index: 1;
  }
  #cta-1394 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      max-width: 32.625rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
      position: relative;
      z-index: 1;
  }
  #cta-1394 .cs-content:before {
      /* circle overlay */
      content: "";
      width: 48.375rem;
      height: 48.375rem;
      background: var(--primaryLight);
      opacity: 0.8;
      border-radius: 50%;
      position: absolute;
      display: block;
      /* -36px to -92px */
      top: calc(clamp(2.25rem, 6vw, 5.75rem) * -1);
      left: 50%;
      z-index: -1;
      transform: translateX(-50%);
  }

  #cta-1394 .cs-title,
  #cta-1394 .cs-text {
      max-width: 31.25rem;
      color: var(--bodyTextColorWhite);
  }
  #cta-1394 .cs-text {
      margin-bottom: 2rem;
      opacity: 0.8;
  }
  #cta-1394 .cs-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;
      position: relative;
      z-index: 1;
  }
  #cta-1394 .cs-input {
      font-size: 1rem;
      width: 100%;
      /* 46px - 72px */
      height: clamp(2.875rem, 8vw, 4.5rem);
      margin: 0;
      padding: 0;
      padding-left: 1.25rem;
      border: none;
      border-radius: 5rem;
      /* prevents padding from adding to width and height */
      box-sizing: border-box;
      display: block;
  }
  #cta-1394 .cs-input::placeholder {
      color: #767676;
  }
  #cta-1394 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 2rem;
      overflow: hidden;
      background-color: var(--primary);
      border-radius: 5rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
  }
  #cta-1394 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: var(--primaryLight);
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
  }
  #cta-1394 .cs-button-solid:hover {
      cursor: pointer;
  }
  #cta-1394 .cs-button-solid:hover:before {
      width: 100%;
  }
  #cta-1394 .cs-submit {
      width: 100%;
      border: none;
  }
  #cta-1394 .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
  }
  #cta-1394 .cs-background img {
      height: 100%;
      width: 100%;
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cta-1394 .cs-container {
      max-width: 80rem;
  }
  #cta-1394 .cs-input {
      width: 100%;
  }
  #cta-1394 .cs-submit {
      width: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0.5rem;
  }
  #cta-1394 .cs-picture {
      width: 50%;
  }
}



/*-- -------------------------- -->
<---        Collection          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #collection-1602 {
    padding: var(--sectionPadding);
    background-color: var(--bodyTextColorWhite);
  }
  #collection-1602 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #collection-1602 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  #collection-1602 .cs-title {
    margin: 0;
  }
  #collection-1602 .cs-button-group {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* 16px - 32px */
    gap: clamp(1rem, 4vw, 2rem);
  }
  #collection-1602 .cs-button {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    padding: 0;
    color: var(--bodyTextColor);
    background-color: transparent;
    border: none;
    position: relative;
    transition: color 0.3s;
  }
  #collection-1602 .cs-button:before {
    content: "";
    width: 0;
    height: 1px;
    background: var(--primary);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
  }
  #collection-1602 .cs-button:hover {
    color: var(--primary);
    cursor: pointer;
  }
  #collection-1602 .cs-button:hover:before {
    width: 100%;
  }
  #collection-1602 .cs-button.cs-active {
    color: var(--primary);
  }
  #collection-1602 .cs-button.cs-active:before {
    width: 100%;
  }
  #collection-1602 .cs-listing-wrapper {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  #collection-1602 .cs-listing {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    grid-auto-flow: row;
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
    position: relative;
    transform-style: preserve-3d;
    perspective: 700px;
    transition: transform 0.7s, opacity 0.3s, visibility 0.5s, top 0.3s, left 0.3s;
    /* makes the transform scaling origin the top left corner, dictates the direction by which the scale transforms animate towards */
    transform-origin: left top;
  }
  #collection-1602 .cs-listing.cs-hidden {
    /* hidden galleries have a 0 opacity, and we animate the opacity to 1 when they become active */
    opacity: 0;
    /* by using visibility:hidden instead of display:none, we can see the animations from the opacity and transforms, display:none won't render animations. */
    visibility: hidden;
    position: absolute;
    /* this top and left value help control the animation, by setting it to position absolute and left 0, the gallery won't fly off screen to the left, it will stop its position to be at the left edge of the .cs-container (left: 0). Same for the top:0 value, the gallery won't go past that position when it animates */
    top: 0;
    left: 0;
    /* prevents the hidden galleries from overflowing the section, and makes a nice animations to transition to and from */
    transform: scaleY(0) scaleX(0);
    /* prevents the mouse from interacting with it */
    pointer-events: none;
  }
  #collection-1602 .cs-listing.cs-hidden .cs-image {
    opacity: 0;
    /* when gallery is hidden, add these styles to the cs-image to animate from when cs-hidden is removed from the .cs-gallery */
    transform: translateY(2.1875rem) rotateX(90deg);
  }
  #collection-1602 .cs-listing.cs-hidden .cs-item {
    transform: rotateY(180deg);
    opacity: 0;
  }
  #collection-1602 .cs-item {
    width: 100%;
    max-width: 23.4375rem;
    /* overwrites the default 'min-width: auto' value, keeping all grid items the same width no matter what*/
    min-width: 0;
    opacity: 1;
    padding: 1rem;
    border: 1px solid var(--bodyTextColorWhite);
    transform: rotateY(0);
    transition: transform 0.7s, opacity 0.3s;
  }
  #collection-1602 .cs-item:nth-of-type(1) {
    transition-delay: 0.1s;
  }
  #collection-1602 .cs-item:nth-of-type(2) {
    transition-delay: 0.2s;
  }
  #collection-1602 .cs-item:nth-of-type(3) {
    transition-delay: 0.3s;
  }
  #collection-1602 .cs-item:nth-of-type(4) {
    transition-delay: 0.4s;
  }
  #collection-1602 .cs-item:nth-of-type(5) {
    transition-delay: 0.5s;
  }
  #collection-1602 .cs-item:nth-of-type(6) {
    transition-delay: 0.6s;
  }
  #collection-1602 .cs-item:nth-of-type(7) {
    transition-delay: 0.7s;
  }
  #collection-1602 .cs-item:nth-of-type(8) {
    transition-delay: 0.8s;
  }
  #collection-1602 .cs-item:nth-of-type(9) {
    transition-delay: 0.1s;
  }
  #collection-1602 .cs-item:nth-of-type(10) {
    transition-delay: 0.1s;
  }
  #collection-1602 .cs-item:nth-of-type(11) {
    transition-delay: 0.1s;
  }
  #collection-1602 .cs-item:nth-of-type(12) {
    transition-delay: 0.1s;
  }
  #collection-1602 .cs-link {
    text-decoration: none;
  }
  #collection-1602 .cs-link:hover .cs-picture img {
    transform: scale(1.1);
  }
  #collection-1602 .cs-picture-group {
    width: auto;
    height: 18.75rem;
    margin-bottom: 1.25rem;
    position: relative;
  }
  #collection-1602 .cs-picture {
    width: 100%;
    height: 100%;
    background-color: var(--bodyTextColorWhite);
    overflow: hidden;
    display: block;
  }
  #collection-1602 .cs-picture img {
    width: 100%;
    height: 100%;
    /* using object-fit contain to keep the entirety of the product image in the frame */
    /* feel free to change this to 'cover', or adjust the background-color above if you have consistent backgrounds on your products */
    object-fit: contain;
    transition: transform 0.6s;
  }
  #collection-1602 .cs-offer {
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    padding: 0.375rem;
    color: #fff;
    background: #ff4747;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
  }
  #collection-1602 .cs-category {
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--primary);
  }
  #collection-1602 .cs-name {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 1vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    margin: 0;
    color: var(--secondary);
    overflow: hidden;
  }
  #collection-1602 .cs-actions {
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #collection-1602 .cs-price {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    color: var(--secondary);
  }
  #collection-1602 .cs-was-price {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    text-decoration: line-through;
    color: var(--primary);
  }
  #collection-1602 .cs-stars {
    margin-top: 0.25rem;
    display: flex;
  }
  #collection-1602 .cs-star {
    width: 1.25rem;
    height: 1.25rem;
  }
  #collection-1602 .cs-buy {
    max-height: 2.5rem;
    padding: 0.5rem;
    background: none;
    border: 2px solid var(--bodyTextColorWhite);
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #collection-1602 .cs-basket {
    width: 1.5rem;
    height: auto;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #collection-1602 .cs-content {
    flex-direction: row;
    justify-content: space-between;
  }
  #collection-1602 .cs-listing {
    grid-template-columns: repeat(3, 1fr);
  }
  #collection-1602 .cs-item {
    max-width: none;
  }
  #collection-1602 .cs-picture-group {
    /* 200px - 320px */
    height: clamp(12.5rem, 23vw, 20rem);
  }
}
                                






/*footer and contact*/
/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-footer-1763 {
    padding: var(--sectionPadding);
    padding-bottom: clamp(1.875rem, 5vw, 3.125rem);
    /* change this to match the color of the section above the footer */
    background-color: var(--bodyTextColorWhite);
    overflow: hidden;
    /* 30px - 50px */
    position: relative;
    z-index: 1;
  }
  #cs-footer-1763 .cs-card-group {
    /* reset on tablet */
    max-width: 34.375rem;
    margin: auto;
    /* 60px - 100px*/
    padding: 0 0 clamp(3.75rem, 7vw, 6.25rem) 0;
    display: grid;
    /* 20px - 58px */
    gap: clamp(1.25rem, 4vw, 3.625rem);
  }
  #cs-footer-1763 .cs-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* 16px - 24px */
    gap: clamp(1rem, 2vw, 1.5rem);
  }
  #cs-footer-1763 .cs-picture {
    padding: 1.5rem;
    background-color: var(--primary);
    display: block;
  }
  #cs-footer-1763 .cs-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #cs-footer-1763 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--headerColor);
  }
  #cs-footer-1763 .cs-card-info {
    font-size: 1rem;
    text-decoration: none;
    line-height: 1.5em;
    color: var(--bodyTextColor);
    display: block;
  }
  #cs-footer-1763 .cs-container {
    width: 100%;
    /* reset on tablet */
    max-width: 34.375rem;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    /* 32px - 48px */
    gap: clamp(2rem, 7vw, 3rem);
  }
  #cs-footer-1763 .cs-logo-group {
    /* takes up all the space, lets the other ul's wrap below it */
    width: 100%;
    position: relative;
  }
  #cs-footer-1763 .cs-logo {
    width: 13.125rem;
    height: auto;
    margin: 0 0 1rem 0;
    display: block;
  }
  #cs-footer-1763 .cs-text {
    max-width: 44rem;
    /* 24px - 40px */
    margin: 0 0 clamp(1.5rem, 4vw, 2.5rem);
    opacity: 0.8;
  }
  #cs-footer-1763 .cs-logo-img {
    width: 100%;
    height: auto;
  }
  #cs-footer-1763 .cs-contact {
    display: grid;
    gap: 2rem;
  }
  #cs-footer-1763 .cs-topper {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }
  #cs-footer-1763 .cs-contact-link {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    text-decoration: none;
    color: var(--headerColor);
  }
  #cs-footer-1763 .cs-header {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.5em;
    /* 16px - 24px */
    margin: 0 0 clamp(1rem, 4vw, 1.5rem) 0;
    color: var(--headerColor);
    display: block;
    position: relative;
  }
  #cs-footer-1763 .cs-ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  #cs-footer-1763 .cs-li {
    list-style: none;
  }
  #cs-footer-1763 .cs-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    text-decoration: none;
    color: var(--bodyTextColor);
    display: inline-flex;
    align-items: flex-start;
    gap: 0.5rem;
    transition: color 0.3s;
  }
  #cs-footer-1763 .cs-link:hover {
    color: var(--primaryLight);
  }
  #cs-footer-1763 .cs-bottom {
    width: 100%;
    max-width: 80rem;
    /* 60px - 80px */
    margin: clamp(3.75rem, 7vw, 5rem) auto 0;
    padding-top: 1.5rem;
    border-top: 1px solid var(--border-border-10, #e8e8e8);
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
  }
  #cs-footer-1763 .cs-credit,
  #cs-footer-1763 .cs-bottom-link,
  #cs-footer-1763 .cs-credit-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    color: bo;
  }
  #cs-footer-1763 .cs-credit {
    width: 100%;
  }
  #cs-footer-1763 .cs-credit-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    width: auto;
    margin: 0;
    display: inline-block;
    position: relative;
  }
  #cs-footer-1763 .cs-credit-link:hover {
    color: var(--primary);
  }
  #cs-footer-1763 .cs-bottom-links {
    width: 100%;
    display: flex;
  }
  #cs-footer-1763 .cs-bottom-link {
    display: flex;
    align-items: center;
  }
  #cs-footer-1763 .cs-bottom-link:hover {
    color: var(--primary);
  }
  #cs-footer-1763 .cs-bottom-link:last-of-type:before {
    /* separator */
    content: "";
    width: 1px;
    height: 0.875rem;
    margin: 0 0.75rem;
    background: currentColor;
    opacity: 1;
    display: block;
  }
  #cs-footer-1763 .cs-graphic {
    width: 100%;
    min-width: 120rem;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 9rem;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }
  #cs-footer-1763 .cs-light {
    display: block;
  }
  #cs-footer-1763 .cs-dark {
    display: none;
  }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
  #cs-footer-1763 .cs-card-group {
    max-width: 80rem;
  }
  #cs-footer-1763 .cs-container {
    padding: var(--sectionPadding);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    max-width: 80rem;
    grid-template-columns: repeat(12, 1fr);
  }
  #cs-footer-1763 .cs-logo-group {
    grid-column: span 12;
  }
  #cs-footer-1763 .cs-ul-wrapper {
    grid-column: span 4;
  }
  #cs-footer-1763 .cs-contact {
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 12;
  }
  #cs-footer-1763 .cs-table {
    grid-column: span 12;
  }
  #cs-footer-1763 .cs-bottom {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  #cs-footer-1763 .cs-credit {
    text-align: left;
  }
  #cs-footer-1763 .cs-bottom-links {
    justify-content: flex-end;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-footer-1763 .cs-card-group {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  #cs-footer-1763 .cs-card {
    grid-column: span 4;
  }
  #cs-footer-1763 .cs-logo-group {
    grid-column: span 4;
  }
  #cs-footer-1763 .cs-ul-wrapper {
    grid-column: span 2;
  }
  #cs-footer-1763 .cs-contact {
    display: flex;
    flex-direction: column;
    grid-column: span 4;
  }
}
                                
